.cache
*.egg-info
*.py[oc]
*~
.*.sw?
.coverage
.idea
.ipynb_checkpoints
.mypy_cache
.netlify
.pytest_cache
.venv
.vscode
Pipfile.lock
__pycache__/
archive.zip
build/
coverage.xml
dist/
docs.zip
docs_build
env
env3.*
htmlcov
venv
wheels/
data/
.DS_Store
